@model Ef.Models.Silnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Silnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SilnikId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
