@using Czat.Models.Rozmowa
@model IEnumerable<Lista>

<div class="nowaRozmowa">
    @Html.ActionLink("Nowa rozmowa", "Nowa")
</div>

@foreach (Lista lista in Model)
{
    <div class="@(lista.NoweWiadomości ? "rozmowaZNieprzeczytanymi" : "rozmowa")">
        <div class="tabela">
            <div class="wiersz">
                <div class="autor">@Html.DisplayFor(z => lista.NazwaZnajomego)</div>
                <div class="data dataLista">@Html.DisplayFor(a => lista.OstatniaAktywnosc)</div>
            </div>
        </div>
        <div>
            <div class="wiersz">
                <div class="tresc trescLista">
                    @Html.DisplayFor(s => lista.Skrot)
                </div>
                @if (lista.NoweWiadomości)
                {
                    <div class="liczbaNowych">
                        @Html.DisplayFor(l => lista.LiczbaNowychWiadomości) nowych
                    </div>
                }
            </div>
        </div>
        <a href="/Rozmowa/Przegladaj/@lista.IdRozmowy"><span class="pseudoLink"></span></a>
    </div>
}
