@using Czat.Models.Rozmowa
@model Przegladaj

@{
    ViewBag.Title = string.Concat("Rozmowa z ", Model.NazwaRozmówcy);
    Layout = "~/Views/_Szablon.cshtml";
}

<script>
    function dodajNoweWiadomosci(dane) {
        var okno = document.getElementById("oknoRozmowy");
        okno.innerHTML += dane;

        setTimeout(function () { pobierzWiadomosci(); }, 10000);
    }

    function pobierzWiadomosci() {
        $.ajax(
        {
            url: "/Rozmowa/NoweWiadomosci/",
            method: "POST",
            data: {
                idRozmowy: "@Model.IdRozmowy"
            },
            success: function (dane) {
                dodajNoweWiadomosci(dane);
            }
        });
    }
</script>

<h2>Rozmowa z @Html.DisplayFor(p => p.NazwaRozmówcy)</h2>

<div id="oknoRozmowy">
    @foreach (Wypowiedz wypowiedz in Model.Wypowiedzi)
    {
        Html.RenderPartial("Wypowiedz", wypowiedz);
    }
</div>

@using (@Html.BeginForm())
{
    @Html.HiddenFor(o => o.IdRozmowy)
    @Html.TextAreaFor(p => p.Odpowiedz.Tresc)
    <input type="submit" value="Wyślij" />
    <input type="button" value="Odśwież" onclick="pobierzWiadomosci()" />
}

<script>
    pobierzWiadomosci();
</script>