@using Czat.Models.Rozmowa
@model Przegladaj

@{
    ViewBag.Title = string.Concat("Rozmowa z ", Model.NazwaRozmówcy);
    Layout = "~/Views/_Szablon.cshtml";
}

<script>


    function pobierzWiadomosci(idRozmowy) {
        $.ajax(
        {
            url: "/Rozmowa/NoweWiadomosci/",
            data: {
                idRozmowy: "@Model.IdRozmowy"
            }
        });
    }
</script>

<h2>Rozmowa z @Html.DisplayFor(p => p.NazwaRozmówcy)</h2>

@foreach (Wypowiedz wypowiedz in Model.Wypowiedzi)
{
    Html.RenderPartial("Wypowiedz", wypowiedz);
}

@using (@Html.BeginForm())
{
    @Html.HiddenFor(o => o.IdRozmowy)
    @Html.TextAreaFor(p => p.Odpowiedz.Tresc)
    <input type="submit" value="Wyślij" />
    <input type="button" value="Odśwież" onclick="pobierzWiadomosci()" />
}