@using Czat.Models.Rozmowa
@model Przegladaj

@{
    ViewBag.Title = string.Concat(Model.NazwaRozmówcy, " - wiadomości");
    Layout = "~/Views/_Szablon.cshtml";
}

<script>
    function dodajNoweWiadomosci(dane) {
        var okno = document.getElementById("oknoRozmowy");
        var oknoRozmowy = document.getElementById("zawartosc2");
        var przewinOkno = oknoRozmowy.scrollTop >= oknoRozmowy.scrollHeight - oknoRozmowy.clientHeight;
        okno.innerHTML += dane;

        if (przewinOkno) {
            oknoRozmowy.scrollTop = oknoRozmowy.scrollHeight;
        }

        setTimeout(function () { pobierzWiadomosci(); }, 2000);
    }

    function pobierzWiadomosci() {
        $.ajax(
        {
            url: "/Rozmowa/NoweWiadomosci/",
            method: "POST",
            data: {
                idRozmowy: "@Model.IdRozmowy"
            },
            success: function (dane) {
                dodajNoweWiadomosci(dane);
            }
        });
    }

    function wyslijWiadomosc(event) {
        if (event.keyCode === 13) {
            event.target.form.submit();
        }
    }
</script>

@section Naglowek
{
    <h2>@Html.DisplayFor(p => p.NazwaRozmówcy)</h2>
}

<div id="oknoRozmowy">
    @foreach (Wypowiedz wypowiedz in Model.Wypowiedzi)
    {
        Html.RenderPartial("Wypowiedz", wypowiedz);
    }
</div>

@using (@Html.BeginForm())
{
    @Html.HiddenFor(o => o.IdRozmowy)
    @Html.TextAreaFor(p => p.Odpowiedz.Tresc, new { id = "nowaWiadomosc", onkeydown = "wyslijWiadomosc(event)" })
    <input type="submit" value="Wyślij" />
}

<script>
    pobierzWiadomosci();

    var oknoRozmowy = document.getElementById("zawartosc2");
    oknoRozmowy.scrollTop = oknoRozmowy.scrollHeight;
    var nowaWiadomosc = document.getElementById("nowaWiadomosc");

    nowaWiadomosc.focus();
</script>
