@model Czat.Models.Encje.Uzytkownik
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logowanie</title>
    <link rel="stylesheet" href="~/Content/Arkusz.css" />
</head>
<body>
    <div id="logowanie">
        @using (@Html.BeginForm())
        {
            <div id="lewaKolumna">
                <div>@Html.LabelFor(d => d.Nazwa, "Login")</div>
                <div>@Html.LabelFor(d => d.Haslo)</div>
                <div><input type="submit" value="Zaloguj się" /></div>
            </div>
            <div id="prawaKolumna">
                <div>
                    @Html.EditorFor(d => d.Nazwa)
                </div>
                <div>
                    @Html.PasswordFor(d => d.Haslo)
                </div>
                @Html.ActionLink("Zarejestruj się", "Rejestracja")
            </div>
            @Html.ValidationSummary()
        }
    </div>
</body>
</html>
