@model Czat.Models.Encje.Uzytkownik
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logowanie</title>
</head>
<body>
    <div>
        @using (@Html.BeginForm("Logowanie"))
        {
            @Html.LabelFor(d => d.Nazwa, "Login")
            @Html.EditorFor(d => d.Nazwa)<br />
            @Html.LabelFor(d => d.Haslo)
            @Html.PasswordFor(d => d.Haslo)<br />
            <input type="submit" value="Zaloguj się" />
            @Html.ActionLink("Zarejestruj się", "Rejestracja")
            @Html.ValidationSummary()
        }
    </div>
</body>
</html>
