@model Czat.Models.Encje.Uzytkownik
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logowanie</title>
    <link rel="stylesheet" href="~/Content/Arkusz.css" />
</head>
<body>
    <div id="formularz">
        @using (@Html.BeginForm())
        {
            <div class="lewaKolumna">@Html.LabelFor(d => d.Nazwa, "Login")</div><div>@Html.EditorFor(d => d.Nazwa)</div>
            <div class="lewaKolumna">@Html.LabelFor(d => d.Haslo)</div><div>@Html.PasswordFor(d => d.Haslo)</div>
            <div id="przyciskLogowania">
                <input type="submit" value="Zaloguj się" /><br />
                <br />
                @Html.ActionLink("Zarejestruj się", "Rejestracja")
            </div>
            @Html.ValidationSummary()
        }
    </div>
</body>
</html>
