@model Czat.Models.Encje.Uzytkownik

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rejestracja</title>
    <link rel="stylesheet" href="~/Content/Arkusz.css" />
</head>
<body>
    <div id="formularz">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <h2>Nowy użytkownik</h2>

            <div class="lewaKolumna">
                @Html.LabelFor(model => model.Nazwa)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nazwa)
                @Html.ValidationMessageFor(model => model.Nazwa)
            </div>

            <div class="lewaKolumna">
                @Html.LabelFor(model => model.Haslo)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Haslo)
                @Html.ValidationMessageFor(model => model.Haslo)
            </div>

            <div class="lewaKolumna">
                @Html.LabelFor(model => model.PowtorzoneHaslo)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.PowtorzoneHaslo)
                @Html.ValidationMessageFor(model => model.PowtorzoneHaslo)
            </div>

            <div id="przyciskLogowania">
                <input type="submit" value="Potwierdź" /><br />
                <br />
                @Html.ActionLink("Powrót", "Logowanie")
            </div>
        }
    </div>
</body>
</html>
