<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" href="~/Content/Arkusz.css" />
</head>
<body>
    <div id="strona">
        <div id="wylogowanie">Zalogowany jako: @User.Identity.Name @Html.ActionLink("Wyloguj", "Wylogowanie", "Uzytkownik")</div>
        <header>
            @RenderSection("Naglowek")
        </header>
        <div id="pojemnikZawartosci">
            <div id="kolumny">
                <div id="kolumna1" class="kolumna">
                    <div class="zawartosc">
                        <div id="lista">
                            @{ Html.RenderAction("Lista", "Rozmowa"); }
                        </div>
                    </div>
                </div>
                <div id="kolumna2" class="kolumna">
                    <div id="zawartosc2" class="zawartosc">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <footer>
            @RenderSection("Stopka")
        </footer>
    </div>
    <script>
        function aktualizujListe(dane) {
            var lista = document.getElementById("lista");
            lista.innerHTML = dane;

            setTimeout(function () { pobierzAktualizacje(); }, 4000);
        }

        function pobierzAktualizacje() {
            var idRozmowy = document.getElementById("IdRozmowy");
            var wartosc = 0;

            if (idRozmowy != null) {
                wartosc = idRozmowy.value;
            }

            $.ajax(
            {
                url: "/Rozmowa/AktualizacjaListy/",
                method: "POST",
                success: function (dane) {
                    aktualizujListe(dane);
                },
                data: {
                    id: wartosc
                }
            });
        }

        pobierzAktualizacje();
    </script>
</body>
</html>